html, body {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #edf2f7;
    z-index: 100;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav ul li a {
    display: flex;
    align-items: center;
    transition: .3s;
    margin-left: 20px;
    color: #a0aec0;
    height: 64px;
}

nav ul li a.active {
    color: #4a5568;
    border-bottom: 3px solid #4a5568;
}

nav ul li a:hover {
    color: #4a5568
}

section {
    background-color: #edf2f7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
}

section:nth-child(1) {
    background-color: #FFF;
    min-height: 50vh;
}

section:nth-child(2) {
    background-color: #cbd5e0;
    min-height: 50vh;
}

section:nth-child(3) {
    background-color: #e2e8f0;
    height: 300vh;
}

section:nth-child(4) {
    height: 30vh;
    background-color: #FFF;
}

@media only screen and (min-width: 2500px) {
    section {
        height: 300vh;
    }
}

.parallax {
    background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg") fixed no-repeat;
    height: 200px;
    width: 80%;
}